html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: black;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/mechanism1.png') no-repeat center center/cover;

  #Desktop
  mask-image: radial-gradient(circle 200px at var(--cursorX, 70%) var(--cursorY, 70%), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  # mobile
  -webkit-mask-image: radial-gradient(circle 100px at var(--cursorX, 50%) var(--cursorY, 50%), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
